<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
    <style>
        
    </style>
     <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <h1>Error 404 - Página no encontrada</h1>
        <p>Lo sentimos, la página que estás buscando no se pudo encontrar.</p>
        <p><a href="/">Volver a la página principal</a></p>
    </div>
</body>
</html>
